.titleStyle {
  background-color: '#2D2F33';
  color: 'Gold';
  text-align: 'center';
  font-weight: 'bold';
  font-size: 24;
  padding: 1;
}

.titleStyle2 {
  background-color: '#FFFFFF';
  color: '#000000';
  text-align: 'center';
  font-weight: 'bold';
  font-size: 24;
  font-family: 'Montserrat';
}