.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Montserrat";
  text-align: center;
  /* background: linear-gradient(115deg, #373b44, #4286f4); */
}

/* .container2 {
  display: grid;
  grid-template-rows: auto 2fr 1fr 1fr auto;
} */

/* Header */
.headerStyle {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 0 0;
  justify-content: space-between;
}

/* .headerSpaceStyle,
.headerImageStyle {
  width: 200px;
  height: auto;
} */

h1 {
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

/* Content */
.content {
  align-self: center;
}

.formStyle {
  width: 50%;
  min-width: 120px;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 2px solid #233567;
  border-radius: 5%;
  box-shadow: 2px 2px 10px #000000;
  background: #f1f1f1;
  font-size: 1.2rem;
  font-family: "Calibri Light";
  text-align: left;
}

fieldset {
  border: 0;
}

.formTitleStyle {
  text-align: center;
}

ul {
  padding: 0.2rem 1rem;
  list-style: none;
}

.buttonContainer {
  text-align: center;
}

.buttonStyle {
  background: #ffffff;
  color: #000000;
  border-radius: 25px;
  border-color: #000000;
  padding: 1%;
  width: 35%;
  min-width: 70px;
  font-family: "Montserrat";
}

/* Footer */
.footerStyle {
  width: 100%;
}

/* .footerImageStyle {
  width: 60%;
  min-width: 300px;
  max-width: 800px;
  padding: 0 1rem;
  height: auto;
  justify-self: end;
  align-self: end;
} */

/* Width Media Queries */
@media (max-width: 320px) {
  li {
    font-size: 0.8rem;
  }
  .headerStyle {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .formStyle {
    padding: 0;
  }
}

/* @media (max-width: 599px) {
  .headerStyle {
    padding: 1rem 0;
    font-size: 0.8rem;
  }
  .headerSpaceStyle,
  .headerImageStyle {
    width: 100px;
    height: 100px;
  }
  .footerImageStyle {
    width: 500px;
  }
}

@media (max-width: 501px) {
  .headerImageStyle,
  .headerSpaceStyle {
    width: 0px;
  }
  .buttonStyle {
    font-size: 0.8rem;
  }
  .footerImageStyle {
    width: 200px;
  }
}

@media (max-width: 399px) {
  .buttonStyle {
    font-size: 0.6rem;
  }
} */

/* Height Media Queries */
/* @media (max-height: 600px) {
  p {
    margin: 0;
  }
  .headerImageStyle,
  .headerSpaceStyle {
    width: 0px;
  }
  .footerImageStyle {
    height: 0px;
  }
} */
