.card {
  text-align: left;
  background: lightblue;
  border-radius: 0.25rem;
  border-width: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem darkslategrey;
  padding: 0.5rem;
  /* margin: 1rem; */
  /* width: 100%; */
  height: auto;
  flex-grow: 1;
  font-size: 0.8rem;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  transition: 1s;
}

h2 {
  text-align: center;
}

h2, li {
  margin: 0;
}

a {
  text-decoration: none;
}