.card {
  text-align: center;
  background: lightblue;
  border-radius: 0.25rem;
  border-width: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem black;
  /* padding: 1rem; */
  /* margin: 1rem; */
  width: 100%;
  max-width: 400px;
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  /* justify-self: center; */
}

.card:hover {
  transform: scale(1.05);
  transition: 1s;
}