nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid lightblue;
  align-items: center;
}

.nav-title {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  padding: 0.5rem 1rem;
  margin: 0;
}

.nav-title:hover, .nav-links > li:hover {
  cursor: pointer;
  color: grey;
}
