nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid lightblue;
  align-items: center;
}

.nav-title, .nav-links {
  padding: 0 1rem;
  margin: 0;
}

.nav-title {
  font-size: 1.5em;
}

.nav-links {
  display: flex;
}

.nav-title:hover, .nav-links > li:hover {
  cursor: pointer;
  color: grey;
}

h3, li {
  padding: 0.5rem 0.25rem;
  margin: 0.5rem 0.25rem;
}