.dashboard-title {
  padding-bottom: 4rem;
}

.dashboard-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  padding: 2rem 0;
  justify-items: center;
  justify-content: center;
  max-width: 60%;
  margin: 0 auto;
}
